# Highway Core Test Environment Variables

# Database URL for tests
DATABASE_URL=sqlite:///tests/test_db.sqlite3

# Redis connection details for tests
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=1 # Use a different DB for tests

# To prevent Docker usage in tests (recommended for faster execution)
NO_DOCKER_USE=true
