# Highway Core Test Environment Variables

# Database URL for tests
DATABASE_URL=sqlite:///tests/test_db.sqlite3

# To prevent Docker usage in tests (recommended for faster execution)
NO_DOCKER_USE=true
